<div class="main">
  <div class="group-flex">
    <div class="logo-area">
      <div class="logo-default">
        <div class="logo-naver">

        </div>
      </div>
    </div>
    <div class="service-area">
      <a href="" class= "link-set-home">
        네이버를 시작페이지로

      </a>
      <i class="sa_bar"></i>
      <a href="" class="link-junior">
        
      </a>
      <a href="" class="link-happybean">
        
      </a>
    </div>
    <div class="search-area">
      <form class="search-form">
        <fieldset>


          <div class="search-green-window">
            <input class="search-bar" type="text">
          </div>
          <button class="search-button">
            <div class="search-button-icon"></div>
          </button>
        </fieldset>
      </form>

      <a class="search-keyboard" href="">
        <span class="ico-keyboard"></span>
      </a>
      <a class="search-autocomplete" href="">
        <span class="ico-arr-down"></span>
      </a>
    </div>
  </div>
</div>
<div class="navigation">
  <div class="navigation-favorite">

  </div>
  <div class="navigation-service-list">

  </div>
</div>